<TabView id="tabViewContainer">
  <StackLayout *tabItem="{title: 'Profile', iconSource: 'res://icon'}">
      <StackLayout>
          <Label text="First Tab"  class="m-15 h2 text-left"   color:blue></Label>
      </StackLayout>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Quries', iconSource: 'res://icon'}">
      <StackLayout>
          <Label text="Second Tab"  class="m-15 h2 text-left"   color:blue></Label>
      </StackLayout>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Chats', iconSource: 'res://icon'}">
    <StackLayout>
        <Label text="Second Tab"  class="m-15 h2 text-left"   color:blue></Label>
    </StackLayout>
</StackLayout>
<StackLayout *tabItem="{title: 'Ratings', iconSource: 'res://icon'}">
  <StackLayout>
      <Label text="Second Tab"  class="m-15 h2 text-left"   color:blue></Label>
  </StackLayout>
</StackLayout>

</TabView>