<GridLayout rows="auto,*,auto" columns="">
  <Label row="0" text="formtitle" class="text-center Oswald primaryColor m-t-15 m-b-15"></Label>

  <Pager row="1" [selectedIndex]="latestRecievedIndex" (selectedIndexChange)="onIndexChanged($event)" [items]="onBoardingitems"
    [itemTemplateSelector]="templateSelector" disableAnimation="false">

    <ng-template pagerTemplateKey="Personalinfo" let-i="index" let-item="item">
      <GridLayout rows="*" columns="*">

        <StackLayout row="0" [marginTop]="boxSize/2">

          <ns-textField label="Firstname" rtext="Enter your data" [rformgroup]="onBoardingForm"
            rcontrolname="Firstname"></ns-textField>
          <ns-textField label="Lastname" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Lastname">
          </ns-textField>
          <ns-textField label="Adress" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Adress">
          </ns-textField>
          <ns-textField label="Contact" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Contact">
          </ns-textField>

        </StackLayout>

      </GridLayout>
    </ng-template>

    <ng-template pagerTemplateKey="Acadmics" let-i="index" let-item="item">
      <GridLayout rows="*" columns="*">

        <StackLayout row="0" [marginTop]="boxSize/2">
          <ns-textField label="University" rtext="Enter your datat" [rformgroup]="onBoardingForm"
            rcontrolname="University"></ns-textField>
          <ns-textField label="Department" rtext="Enter your data" [rformgroup]="onBoardingForm"
            rcontrolname="Department"></ns-textField>
          <ns-textField label="Semester" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Semester">
          </ns-textField>
          <ns-textField label="Subjects" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Subjects">
          </ns-textField>
        </StackLayout>

      </GridLayout>
    </ng-template>

    <ng-template pagerTemplateKey="image" let-i="index" let-item="item">
      <GridLayout rows="*" columns="*">
        <ns-image-upload></ns-image-upload>
      </GridLayout>
    </ng-template>
  </Pager>
  <StackLayout row="2" class="m-t-20 m-b-20">
      
  <ns-button  text="Next" (onTap)="nextPage()"  [marginLeft]="pageSide" [marginRight]="pageSide"></ns-button>
  <!-- <DockLayout  orientation="horizontal" stretchLastChild="true" class="bg-primary">
    <Button dock="lzeft" text="Prev" (tap)="prevPage()" class="btn btn-primary"></Button>
    <Button dock="right" text="Next" (tap)="nextPage()" class="btn btn-primary"></Button>
  </DockLayout> -->
</StackLayout>
  
</GridLayout>