<ScrollView>
    
<GridLayout rows="auto,*,auto" columns="" class="pagebg">
  <Label row="0" text="formtitle" class="text-center Oswald primaryColor m-t-15 m-b-15"></Label>

  <Pager row="1" [selectedIndex]="latestRecievedIndex" (selectedIndexChange)="onIndexChanged($event)"
    [items]="onBoardingitems" [itemTemplateSelector]="templateSelector" disableAnimation="false">

    <ng-template pagerTemplateKey="Personalinfo" let-i="index" let-item="item">
      <GridLayout rows="auto,auto" columns="">


        <GridLayout row="0" rows="auto" columns="*" [marginRight]="pageSide" [marginLeft]="pageSide">
          <ns-image-upload ></ns-image-upload>
        </GridLayout>
        <StackLayout row="1" class=" bgWhite"
          [marginRight]="pageSide" [marginLeft]="pageSide" [marginTop]="pageSide">

          <ns-textField label="Firstname" rtext="Enter your data" [rformgroup]="onBoardingForm"
            rcontrolname="Firstname"></ns-textField>
          <ns-textField label="Lastname" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Lastname">
          </ns-textField>
          <ns-textField label="Adress" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Adress">
          </ns-textField>
          <ns-textField label="Contact" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Contact">
          </ns-textField>

        </StackLayout>
      </GridLayout>
    </ng-template>

    <ng-template pagerTemplateKey="Acadmics" let-i="index" let-item="item">
      <GridLayout rows="auto" columns="*">

        <StackLayout row="0" [marginTop]="boxSize/2" class=" bgWhite" style="padding: 5%"
          [marginRight]="pageSide" [marginLeft]="pageSide">
          <ns-textField label="University" rtext="Enter your data" [rformgroup]="onBoardingForm"
            rcontrolname="University"></ns-textField>
          <ns-textField label="Department" rtext="Enter your data" [rformgroup]="onBoardingForm"
            rcontrolname="Department"></ns-textField>
          <ns-textField label="Semester" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Semester">
          </ns-textField>
          <ns-textField label="Subjects" rtext="Enter your data" [rformgroup]="onBoardingForm" rcontrolname="Subjects">
          </ns-textField>
        </StackLayout>

      </GridLayout>
    </ng-template>


  </Pager>
  <StackLayout row="2" [nsRouterLink]="['/home']" class="m-t-20 m-b-20 textfieldBorderColor  buttonbg secondrycolor"
    [marginLeft]="pageSide" [marginRight]="pageSide" [marginBottom]="pageSide">

    <ns-button text="Next"></ns-button>

  </StackLayout>

</GridLayout>

</ScrollView>