

.inactive-border {
    border-width: 1dp;
    border-color: #070606;
}


.selectedBorder {
    border-width: 1dp;
   border-color: #1987e0;
}

.selected {

    color: white;
}

.colorbg{
    background-color: #c1266c;
}
