<ScrollView class="pagebg">
  <GridLayout rows="auto,auto,auto,*" height="100%">
    <GridLayout row="0" rows="auto,auto,auto" columns="*,*" colSpan="2">

      <Label text="Choose Account Type" colSpan="2" [marginTop]="pageSide/2"
        class=" text-center fontoswald primaryColor"></Label>

      <GridLayout row="1" colspan="2" columns="*,25,*" [marginTop]="pageSide/2 ">
        <GridLayout class="inactive-border pageSide primaryColor" verticalAlignment="center" horizontalAlignment="right"
          [width]="boxSize" [height]="boxSize" (tap)="onAccountSelection('student')"
          [ngClass]="{'selectedBorder' : (showType === 'student')}">
          <Label class="fas icon primaryColor" text="&#xf14a;" *ngIf="showType == 'student'" verticalAlignment="top"
            horizontalAlignment="right"></Label>

        </GridLayout>

        <GridLayout col="2" class="inactive-border pageSide primaryColor" verticalAlignment="center"
          horizontalAlignment="left" [width]="boxSize" [height]="boxSize" (tap)="onAccountSelection('teacher')"
          [ngClass]="{'selectedBorder' : (showType === 'teacher')}">
          <Label class="fas icon primaryColor" text="&#xf14a;" *ngIf="showType == 'teacher'" verticalAlignment="top"
            horizontalAlignment="right"></Label>
        </GridLayout>
      </GridLayout>

      <Label text="Student" row="2" col="0" class=" fontoswald primaryColor" horizontalAlignment="center"></Label>
      <Label text="Teacher" row="2" col="1" class=" fontoswald primaryColor" horizontalAlignment="center"></Label>
    </GridLayout>
    <StackLayout row="2" colSpan="2" class="text-center">
      <Label [text]="(showType === 'student') ? 'Lets Learn!': 'Lets Teach!'" class="fontoswald"
        [marginBottom]="pageSide/2"></Label>
      <Label text="Please fill  out the form below to get started" class="primaryColor Roboto"></Label>
    </StackLayout>

    <GridLayout row="3" colSpan="2" rows="*,auto" columns="*,auto">
      <StackLayout row="0" colSpan="2" [marginRight]="pageSide" [marginLeft]="pageSide">
        <ns-textField rtext="Email" [rformgroup]="rform" rcontrolname="email" class="textfield"></ns-textField>
        <ns-textField rtext="Password" [rformgroup]="rform" rcontrolname="pass" secure="false"></ns-textField>
        <StackLayout *ngIf="!isLoggingIn">
          <ns-textField rtext="Confirm Password" [rformgroup]="rform" rcontrolname="confirmpass" secure="false">
          </ns-textField>
        </StackLayout>
      </StackLayout>

      <Label row="1" verticalAlignment='center' (tap)="toggleForm()" [marginBottom]="pageSide " [marginTop]="pageSide/2"
        [marginLeft]="pageSide">
        <FormattedString>
          <Span text='No account? ' class='mutedColor fontoswald'></Span>
          <Span text='Signup' class='primaryColor fontoswald'></Span>
        </FormattedString>
      </Label>


      <StackLayout row="1" col="1" class="buttonbg " [marginRight]="pageSide" [marginBottom]="pageSide">
        <ns-button (onTap)="signup()" color="white"
          [text]="(showType === 'student') ? 'Signin Student!': 'Signin Teacher!'"></ns-button>

      </StackLayout>

    </GridLayout>
  </GridLayout>
</ScrollView>