<ScrollView class="pagebg ">
  <GridLayout rows="auto,auto,auto,auto,auto,auto" class="p-b-100" columns="*">
      <Image [height]="previewSize" stretch="aspectFill" class="b-r-100 borderW5 borderColor" [width]="previewSize"
          [marginTop]="previewSize/3" [src]="profileData?.imgUrl">
      </Image>
      <Label [text]="profileData?.username" row="1"
          class="f-22 text-center capitalize  mutedDark f-bold m-l-30 m-t-5 m-r-30 Roboto" textWrap="true"></Label>


      <GridLayout rows="auto,auto" row="2" [marginTop]="previewSize/4" [marginLeft]="pageSide"
          [marginRight]="pageSide">
          <Label text="PERSONAL" class="f-12 mutedDark m-l-10 p-b-10" textWrap="true"></Label>

          <StackLayout row="1" class="primaryWhiteBg boxBorder">
              <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
                  class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
                  [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
                  <ns-icon col="0" class="fas" icon="&#xf0e0;"></ns-icon>
                  <Label col="1" text="Email" class="mutedDark "></Label>
                  <ns-icon col="2" icon="&#xf044;" class="fas"></ns-icon>
                  <Label col="0" colSpan="2" row="1" [text]="profileData?.email" class="mutedDark Roboto"></Label>
              </GridLayout>
              <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
                  class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
                  [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
                  <ns-icon col="0" class="fas" icon="&#xf87b;"></ns-icon>
                  <Label col="1" text="Contact" class="mutedDark "></Label>
                  <ns-icon col="2" icon="&#xf044;" class="fas"></ns-icon>
                  <Label col="0" colSpan="2" row="1" [text]="profileData?.phone" class="mutedDark Roboto"></Label>
              </GridLayout>
              <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
              class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
              [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
              <ns-icon col="0" class="fas" icon="&#xf3c5;"></ns-icon>
              <Label col="1" text="Address" class="mutedDark "></Label>
              <ns-icon col="2" icon="&#xf044;" class="fas"></ns-icon>
              <Label col="0" colSpan="2" row="1" [text]="profileData?.address" class="mutedDark Roboto"></Label>
          </GridLayout>
          </StackLayout>
      </GridLayout>

      <GridLayout rows="auto,auto" row="3" [marginTop]="previewSize/4" [marginLeft]="pageSide"
          [marginRight]="pageSide">
          <Label text="ACADMICS" class="f-12 mutedDark m-l-10 p-b-10" textWrap="true"></Label>

          <StackLayout row="1" class="primaryWhiteBg boxBorder">
              <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
                  class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
                  [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
                  <ns-icon col="0" icon="&#xf19c;" class="fas"></ns-icon>
                  <Label col="1" text="University" class="mutedDark "></Label>
                  <ns-icon col="2" icon="&#xf044;" class="fas"></ns-icon>
                  <Label col="0" colSpan="2" row="1" [text]="profileData?.university" class="mutedDark Roboto"></Label>
              </GridLayout>
              <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
                  class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
                  [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
                  <ns-icon col="0" icon="&#xf19c;" class="fas"></ns-icon>
                  <Label col="1" text="Semester" class="mutedDark "></Label>
                  <ns-icon col="2"icon="&#xf044;" class="fas"></ns-icon>
                  <Label col="0" colSpan="2" row="1" [text]="profileData?.semester" class="mutedDark Roboto"></Label>
              </GridLayout>
              <GridLayout columns="auto,*,auto" [marginLeft]="pageSide" [marginRight]="pageSide" rows="auto,auto"
              class="b-b-1" [paddingTop]="itemPadding" [paddingBottom]="itemPadding"
              [paddingLeft]="itemPadding / 2" [paddingRight]="itemPadding / 2">
              <ns-icon col="0" icon="&#xf19c;" class="fas"></ns-icon>
              <Label col="1" text="Department" class="mutedDark "></Label>
              <ns-icon col="2" icon="&#xf044;" class="fas" ></ns-icon>
              <Label col="0" colSpan="2" row="1" [text]="profileData?.department" class="mutedDark Roboto"></Label>
             
          </GridLayout>
          </StackLayout>
      </GridLayout>
     
  </GridLayout>
</ScrollView>