<ScrollView>
    
<GridLayout rows="auto,*,auto" class="pagebg">
  <GridLayout row="0">
    <Label text="formtitle" class="text-center Oswald  m-t-15 m-b-15 primaryColor"></Label>
  </GridLayout>

  <Pager row="1" (selectedIndexChange)="onIndexChanged($event)" [items]="onBoarding" #pager
    [itemTemplateSelector]="templateSelector" class="pager">

    <ng-template pagerTemplateKey="personalInfo" let-i="index" let-item="item">

      <GridLayout class="pager-item" rows="auto,auto" columns="*">
        <GridLayout row="0" rows="auto" columns="*" [marginRight]="pageSide" [marginLeft]="pageSide">
          <ns-image-upload></ns-image-upload>
        </GridLayout>

        <StackLayout row="1" class=" bgWhite" [marginTop]="pageSide/2"[marginRight]="pageSide" [marginLeft]="pageSide" >
          <ns-textField label="Firstname" rtext="Enter your data" [rformgroup]="onBardingForm" rcontrolname="Firstname">
          </ns-textField>
          <ns-textField label="Lastname" rtext="Enter your data" [rformgroup]="onBardingForm" rcontrolname="Lastname">
          </ns-textField>
          <ns-textField label="Adress" rtext="Enter your data" [rformgroup]="onBardingForm" rcontrolname="Adress">
          </ns-textField>
          <ns-textField label="Contact" rtext="Enter your data" [rformgroup]="onBardingForm" rcontrolname="Contact">
          </ns-textField>

        </StackLayout>
      </GridLayout>
    </ng-template>

    <ng-template pagerTemplateKey="contactInfo" let-i="index" let-item="item">
      <GridLayout class="pager-item" rows="auto" columns="*">

        <StackLayout row="0" class=" bgWhite" style="padding: 5%" [marginRight]="pageSide" [marginLeft]="pageSide"
        [marginTop]="boxSize">
          <ns-textField label="University" rtext="Enter your data" [rformgroup]="onBardingForm"
            rcontrolname="University"></ns-textField>
          <ns-textField label="Department" rtext="Enter your data" [rformgroup]="onBardingForm"
            rcontrolname="Department"></ns-textField>
          <ns-textField label="Semester" rtext="Enter your data" [rformgroup]="onBardingForm" rcontrolname="Semester">
          </ns-textField>

        </StackLayout>
      </GridLayout>
    </ng-template>
  
  </Pager>
  <GridLayout row="2" [nsRouterLink]="['/home']" class="m-t-10 m-b-20" [marginBottom]="pageSide"
    class="textfieldBorderColor bgWhite primaryColor buttonbg " [marginLeft]="pageSide" [marginRight]="pageSide">
    <ns-button row="1" col="1" text="Next" class="secondrycolor"></ns-button>
  </GridLayout>
</GridLayout>

</ScrollView>