<ActionBar title="Bidds on Query" class="primaryColor">

</ActionBar>
<ScrollView>
  <GridLayout rows="auto,*" columns="" class="pagelightbg"  [marginTop]="pageSide/2">
    <GridLayout row="0" >
        
    <ListView [items]="queries" separatorColor="transparent">
      <ng-template let-queries="item">
        <GridLayout>
          <GridLayout row="0" rows="auto,auto,auto,auto,auto,auto,auto" [marginLeft]="pageSide/2" columns="*,auto" [marginBottom]="pageSide/4" 
            [marginRight]="pageSide/2" class="bgWhite">

            <Image [height]="previewSize" style="  border-radius: 40%" [marginBottom]="pageSide/2" [marginTop]="pageSide/2" [width]="previewSize"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqkTkxvlVSXCW0Avw0qipbUSd7CFnjPZ_PdEson-QeJk1WSbv8rg"
              class="thumb img-circle"></Image>
          <Label class="Roboto" col="0" row="1" [text]="queries.title" class="fontbig mutedDark" [marginBottom]="pageSide/2" [marginLeft]="pageSide/2"></Label>
          <Label class="Roboto" col="0" row="2" [text]="queries.type" class=" mutedDark" [marginLeft]="pageSide/2"></Label>
          <GridLayout row="3" rows="*" columns="auto,auto" [marginLeft]="pageSide/2" [marginRight]="pageSide/2"  orientation="horizontal">
    <StackLayout col="0" orientation="horizontal">
        <ns-icon col="0" icon="&#xf783;"  class="primaryColor"> </ns-icon>              
        <Label col="1" class="Roboto" verticalAlignment="center" text="7/3/2019" [marginLeft]="pageSide/2"></Label>
    </StackLayout>
    <StackLayout col="1" orientation="horizontal" [marginLeft]="pageSide/2">
    <ns-icon  col="2" icon="&#xf155;"  class="primaryColor" [marginLeft]="pageSide" > </ns-icon>
    <Label  col="3" class="Roboto" verticalAlignment="center" [text]="queries.estimateAmount" [marginLeft]="pageSide/2"></Label>            
    </StackLayout>
          </GridLayout>
          <!-- <ns-icon col="1"  row="3" icon="&#xf234;"  class="primaryColor"> </ns-icon> -->
          <Label text="Description:" row="4" [marginLeft]="pageSide/2" class="mutedDark"></Label>
          <StackLayout orientation="horizontal" row="5"  [marginLeft]="pageSide" [marginRight]="pageSide" [height]="previewSize">
              <Label class="Roboto" col="0"  textWrap="true" [text]="queries.description" ></Label>    
           </StackLayout>
           <Label class="Roboto"  row="6" [text]="queries.adress" horizontalAlignment="right" class="fontmedium mutedDark" [marginLeft]="pageSide/2" ></Label>
         
         
            </GridLayout>
          </GridLayout>
      </ng-template>
    </ListView>
  </GridLayout>
  
<GridLayout row="1" >
    
    
</GridLayout>
</GridLayout>

</ScrollView>