<ActionBar title="Bidds on Query" class="primaryColor">
</ActionBar>
<!-- <ScrollView> -->
  <StackLayout>

    <GridLayout class="pagelightbg" rows="auto,*" columns="*">
      <GridLayout rows="auto,auto,auto,auto,auto,auto" [paddingLeft]="pageSide/ 2" [paddingTop]="pageSide/ 4"
        [paddingBottom]="pageSide/4" [paddingRight]="pageSide/2" columns="*,*,*">
        <Image [height]="iconSize*2" row="0" colspan="3" style="  border-radius: 40%" [marginTop]="pageSide/4"
          [width]="iconSize*2"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqkTkxvlVSXCW0Avw0qipbUSd7CFnjPZ_PdEson-QeJk1WSbv8rg"
          class="thumb img-circle"></Image>
        <Label col="0" row="1" colSpan="3" [text]="queries?.title" class="font16 font-w-600 Roboto mutedDark"
          textWrap="true"></Label>
        <GridLayout rows="auto,auto,auto" col="0" row="2">
          <Image src="~/assets/images/deadline.png" class="b-r-100" stretch="aspectFit" [marginTop]="iconSize/8"
            [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize"></Image>
          <Label row="1" class="text-center font13 sec-color Roboto font-w-600 " text="Deadline"></Label>
          <Label row="2" class="text-center mutedColor Roboto font12" text="Due Dec 23, 2015"></Label>
        </GridLayout>
        <GridLayout rows="auto,auto,auto" col="1" row="2">
          <Image src="~/assets/images/notebook.png" stretch="aspectFit" [marginTop]="iconSize/8"
            [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize"></Image>
          <Label row="1" class="text-center sec-color font13 Roboto font-w-600 " text="Type"></Label>
          <Label row="2" class="text-center mutedColor Roboto font12" text="Assingment"></Label>
        </GridLayout>
        <GridLayout rows="auto,auto,auto" col="2" row="2">
          <Image src="~/assets/images/dollar2.png" class="b-r-100" stretch="aspectFit" [marginTop]="iconSize/8"
            [marginBottom]="iconSize/8" [width]="iconSize" [height]="iconSize"></Image>
          <Label row="1" [text]="queries?.estimateAmount" class="text-center sec-color font13 Roboto font-w-600 ">
          </Label>
          <Label row="2" class="text-center mutedColor Roboto font12" text="/month"></Label>
        </GridLayout>
        <Label col="0" row="3" colSpan="3" [text]="queries?.adress" [paddingTop]="pageSide/ 4"
          class="text-center f-w-900 mutedColor font13 capitalize Roboto"></Label>
        <Label row="4" text="Description" class="font16 font-w-600 Roboto mutedDark" textWrap="true"></Label>
        <Label row="5" colSpan="3" [text]="queries?.description" [paddingLeft]="pageSide" [paddingRight]="pageSide"
          textWrap="true"></Label>
      </GridLayout>

      <ListView row="1" [items]="['1','1','1','1','1']" separatorColor="transparent">
        <ng-template let-queries="item">
          <GridLayout columns="auto,*,auto" rows="*">
            <Image [height]="iconSize" [width]="iconSize" row="0" col="0" [paddingLeft]="pageSide/2"
              style="  border-radius: 40%"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqkTkxvlVSXCW0Avw0qipbUSd7CFnjPZ_PdEson-QeJk1WSbv8rg"
              class="thumb img-circle"></Image>
            <Label text="Tayyab Jamil" row="0" col="1" [paddingLeft]="pageSide/2" verticalAlignment="center"
              class="font16 font-w-600 Roboto mutedDark"></Label>
            <Image  [height]="iconSize*3" src="https://cdn0.iconfinder.com/data/icons/star-ratings/100/5_star-512.png" row="0" col="2" class="b-r-100" stretch="aspectFit" ></Image>
          </GridLayout>

        </ng-template>
      </ListView>
    </GridLayout>
  </StackLayout>
<!-- </ScrollView> -->