<GridLayout rows="*,auto,auto" class="pagelightbg">
  <page-router-outlet></page-router-outlet>
  <Label row="1" class="gradientline"></Label>
  <GridLayout row="2" columns="*,*,*,*,*" rows="*,*" class="pagebg">

    <ns-icon icon="&#xf2bd;" row="0" col="0" (tap)="onviewSelection('profile')"
      [ngClass]="{primaryColor : (showType === 'profile')}"></ns-icon>

    <ns-icon icon="&#xf059;" row="0" col="1" (tap)="onviewSelection('Queries')"
      [ngClass]="{primaryColor : (showType === 'Queries')}"></ns-icon>

    <ns-icon icon="&#xf02d;" row="0" col="2" (tap)="onviewSelection('Inbox')"
      [ngClass]="{primaryColor : (showType === 'Inbox')}"></ns-icon>

    <ns-icon icon="&#xf02d;" row="0" col="3" (tap)="onviewSelection('courses')"
      [ngClass]="{primaryColor : (showType === 'courses')}"></ns-icon>

    <ns-icon icon="&#xf02d;" row="0" col="4" (tap)="onviewSelection('courses')"
      [ngClass]="{primaryColor : (showType === 'courses')}"></ns-icon>

    <Label text="Profile" [ngClass]="{primaryColor : (showType === 'profile')}" col="0" row="1"
      [nsRouterLink]="['/home/profile']" horizontalAlignment="center"></Label>
    <Label text="Quries" [ngClass]="{primaryColor : (showType === 'Quries')}" col="1" row="1"
      [nsRouterLink]="['/home/queries']" horizontalAlignment="center"></Label>
    <Label text="Inbox" [ngClass]="{primaryColor : (showType === 'Inbox')}" col="2" row="1"
      [nsRouterLink]="['/home/inbox']" horizontalAlignment="center"></Label>
    <Label text="Courses" [ngClass]="{primaryColor : (showType === 'Courses')}" col="3" row="1"
      [nsRouterLink]="['/home/courses']" horizontalAlignment="center"></Label>
    <Label text="Ratings" [ngClass]="{primaryColor : (showType === 'Courses')}" col="4" row="1"
      [nsRouterLink]="['/home/courses']" horizontalAlignment="center"></Label>

  </GridLayout>
</GridLayout>